{% extends "base.html" %}

{% block title %}О сайте{% endblock %}

{% block galery_ref %}<a href="/galerie/">[Галерея]</a>{% endblock %}

{% block content %}

    <div class="container">
      <div class="row-fluid">
        <div class="span12"><p class="lead">Сайт художника <strong>Татьяны Бобровой.</strong></p></div>
      </div>
      <div class="row-fluid">
        <div class="span12"><p class="lead">Разработка и администрирование сайта - <a href="mailto:admin@pushinda.ru">Антон Бобров</a></p></div>
      </div>
      <div class="row-fluid">
        <div class="span12"><p>В качестве фона использована фотография <a href="http://az.livejournal.com/" target="_blank">Андрея Зейгарника</a></p></div>
      </div>

    </div>

{% endblock %}
