{% extends "base.html" %}

{% block title %}Об авторе{% endblock %}

{% block author_ref%}<strong><a href="/kunstler/">[Об авторе]</a></strong>{% endblock %}

{% block content %}

    <div class="container">
      <div class="row-fluid">
        <div class="span12">
            <p class="pull-left"><img src="{{ media_url|default:"/static/media/" }}portrait.jpg" hspace="12" class="img-polaroid"></p>
            <p class="lead"> flaskfjasklfj AS;FDLJASD;Lkasd ASD;KAsd;lJKASD a;sldkaS;LDKad AS;DLKasd;lkaSD as;dflkaS;DLKAsd ASD;LKAs;ldkaD asd;laKSDa;ldk

Татьяна Боброва	Татьяна Боброва
Очень ответственная птица	Ангел
2015, Холст, акрил, 40х60 см	2015, Цветная бумага, масло

Татьяна Боброва	Татьяна Боброва
Наступление весны	Сон синего слона
2015, Холст, акрил, 40х60 см	2015, Холст, акрил, 40х50 см

Татьяна Боброва	Татьяна Боброва
В голове ее весна…	Солнечные рыбы
2014, Бумага, акварель, линер, 	2013, Холст, акрил, 60х40 см

Татьяна Боброва	Татьяна Боброва
Обитаемое дерево	Зимняя сказка
2014, Бумага, гелевая ручка	2014, Цветная бумага, масло

Татьяна Боброва	Татьяна Боброва
Выпускающая птиц	Птица в шляпе
2013, Холст, акрил, 50х70 см	2015, Цветная бумага, пастель

Татьяна Боброва	Татьяна Боброва
Заклинатель птиц	Путешествие
2015, Цветная бумага, пастель	2014, Цветная бумага, пастель

Татьяна Боброва	Татьяна Боброва
Рыжая сова	Чаепитие
2012, Цветная бумага, смешаная техника	2010, Бумага, тушь, акварель

Татьяна Боброва	Татьяна Боброва
Загадочный город	Котогород
2015, Цветная бумага, цвеные карандащи	2014, Бумага, акварель, линер

Татьяна Боброва	Татьяна Боброва
Волшебный снег	Создатель миров
2015, Цветная бумага, акрил, пастель	2014, Бумага, акварель, линер

Татьяна Боброва	Татьяна Боброва
Гордясь прекрасной шляпой…	Синий сон
2015, Цветная бумага, цвеные карандащи, линер	2014, Цветная бумага, пастель</p>

        </div>
      </div>
    </div>

{% endblock %}
