{% extends "base.html" %}

{% block title %}Об авторе{% endblock %}

{% block author_ref%}<strong><a href="/kunstler/">[Об авторе]</a></strong>{% endblock %}

{% block content %}

    <div class="container">
      <div class="row-fluid">
        <div class="span12">
            <p class="pull-left"><img src="{{ media_url|default:"/static/media/" }}portrait.jpg" hspace="12" class="img-polaroid"></p>
            <p class="lead" align='center'> Художник Татьяна Боброва.</p>
            <p class="lead">Родилась в 1972 году в Свердловске.</p>
            <p class="lead">1994-1999 - учеба в Екатеринбургской художественной школе им. Хожателева у
                Александра Самойловича Берсенёва.</p>
            <p class="lead">1997-2003 - учеба в Уральском Государственном
                университете по специальности "искусствовед". </p>
            <p class="lead">Участие в выставках:</p>
                <ul class="unstyled">
                  <strong>
                    <li>- 2005, Екатеринбург, галерея "ОКНО","Путешествие с этюдником"</li>
                    <li>- 2006, Екатеринбург, галерея СКБ Контур, "Души изменчивой приметы"</li>
                    <li>- 2007, Екатеринбург, галерея Храма на крови, "Звон, застывший в тишине"</li>
                    <li>- 2008, Ревда, "Демидов-Центр", "По демидовским местам"</li>
                    <li>- 2009, Екатеринбург, Екатеринбургский музей изобразительных искусств ("По городам и селам -
                            от этюда к картине. 10-летию пленэрной деятельности группы свободных художников"</li>
                    <li>- 2010, Екатеринбург, БИЦ "Эльмашевский"</li>
                    <li>- 2010, Екатеринбург, ЦК "Молодежный"</li>
                    <li>- 2010, Екатеринбург, БИЦ "Эльмашевский" "Восток-Запад" (персональная выставка, совместно с
                        И.Зябликовой-Исаковой, в рамках проекта "О'становись, мгновение!" )</li>
                    <li>- 2011, Екатеринбург, БИЦ "Эльмашевский" "О'становись, мгновение!" (итоговая выставка проекта)</li>
                    <li>- 2011, Екатеринбург, галерея "ОКНО", "Академия батика"</li>
                    <li>- 2011, Екатеринбург, центр творчества "Гамаюн", "Екатеринбургские родники"</li>
                    <li>- 2011, Екатеринбург, галерея "ОКНО"</li>
                    <li>- 2012, Екатеринбург, ЦК "Молодежный"</li>
                    <li>- 2012, Екатеринбург, Библиотека им. Герцена</li>
                    <li>- 2012, Екатеринбург, галерея СКБ Контур</li>
                    <li>- 2013, Екатеринбург, ЦК "Молодежный" "Разноцветныесны" (персональная выставка)</li>
                    <li>- 2013, Екатеринбург, ДШИ №14 "Цветные сны" (персональная выставка)</li>
                    <li>- 2015, Екатеринбург, Областная детская библиотека "В ожидании весны" (персональная выставка)</li>
                  </strong>
                </ul>
            <p class="lead">Занималась дизайном рекламы, полиграфии, обучением детей изобразительному искусству.</p>
            <p class="lead">Работаю в различных техниках: графика, пастель, батик, живопись акриловыми красками. Работы
                находятся в частных собраниях.</p>
            <p class="lead" align="center">Вы можете написать свое мнение о работах или задать вопросы мне на E-mail: <a href="mailto:author@pushinda.ru">author@pushinda.ru</a>
            </p>


        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
            <p class="lead" align="center"><br>Также вы можете найти меня в социальных сетях:
            </p>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span2 offset2">
            <p class="lead"><img src="{{ MEDIA_URL }}FB-f-Logo__blue_29.png" hspace="8"><a href="https://www.facebook.com/tatiana.bobrova.35" target="_blank">Facebook</a>
            </p>
        </div>
        <div class="span2 offset1">
            <p class="lead"><img src="{{ MEDIA_URL }}Maly_logotip_V_29.png" hspace="8"><a href="http://vk.com/id2459338" target="_blank">ВКонтакте</a>
            </p>
        </div>
        <div class="span2 offset1">
            <p class="lead"><img src="{{ MEDIA_URL }}lj_29.jpg" hspace="8"><a href="http://pushinda.livejournal.com" target="_blank">LiveJournal</a>
            </p>
        </div>
      </div>

    </div>

{% endblock %}
