{% extends "base.html" %}

{% block title %}Прототип{% endblock %}

{% block content %}

    <div class="container" xmlns="http://www.w3.org/1999/html">
      <div class="row-fluid">
        <div class="span12"> <h2>Прототип</h2></div>
      </div>
      <div class="row-fluid">
        <div class="span12">Здесь должно быть описание проекта и как с ним работать...</div>
      </div>
      <div class="row-fluid">
        <div class="span3">
             <a href="/galerie/">[Галерея]</a>&nbsp
        </div><!--/span-->
        <div class="span3">
                <a href="/kunstler/">[Об авторе]</a>&nbsp
        </div><!--/span-->
        <div class="span3">
                <a href="/ueber/">[О сайте]</a>&nbsp
        </div><!--/span-->
      </div><!--/row-->

    </div><!--/.fluid-container-->

{% endblock %}
