{% extends "base.html" %}
{% load gns_galery_extras %}
{% load static from staticfiles %}
{% block pagehead %}
    <link href="{% static "css/social-likes_classic.css" %}" rel="stylesheet">
    <meta property="og:url" content="{{ aurl }}" />
    <meta property="og:title" content="Татьяна Боброва - {{ bild.titel }}" />
    <meta property="og:image" content="{{ media_url|default:"/static/media/" }}{{ bild.dateiname_klein|strip }}" />
    <meta property="og:description" content="{{ bild.kommentar }}" />
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?116"></script>
    <script type="text/javascript">VK.init({apiId: 4971544, onlyWidgets: true});</script>


{% endblock %}


{% block title %}Галерея - {{ bild.seite.titel }} - {{ bild.titel }}{% endblock %}

{% block galery_ref %}
    <strong>[<a href="/galerie/">Галерея</a> - <a href="../../../{{ bild.seite.seite_url|strip }}/{{ view.pg_num }}">{{ bild.seite.titel }}</a>]</strong>
{% endblock %}

{% block content %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.3";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{% static "js/social-likes.min.js" %}"></script>

<div class="container">
      <div class="row-fluid">
              <div class="span3">
                <p class="text-right">
                {% if prev_bild %}
                    <a href="{{prev_bild }}" title="{{ prev_titel }}">[&larr; <strong>{{ prev_titel }}</strong> ]</a>
                {% endif %}
                </p>
              </div>
                         <div class="span6">
                             <h4><p class="text-center">{{ bild.titel }}</p></h4>
                         </div>
              <div class="span3">
                <p class="text-left">
                {% if next_bild %}
                    <a href="{{ next_bild }}" title="{{ next_titel }}">[ <strong>{{ next_titel }}</strong> &rarr;]</a>
                {% endif %}
                </p>
              </div>      </div>
      <div class="row-fluid">
                         <div class="span12">
                             <p class="text-center"><small>{{ bild.kommentar }}</small></p>
                         </div>
      </div>
      <div class="row-fluid">
            <div class="span1">
		&nbsp;
            </div>
            <div class="span10">
                 <p class="text-center">
                 <img align=top class="img-polaroid" src="{{ media_url|default:"/static/media/" }}{{ bild.dateiname_gross|strip }}"></a></p>
            </div>
            <div class="span1">
                 <ul class="unstyled">
                     <li>
                        <div class="social-likes social-likes_single" data-single-title="Поделиться" data-url="{{ aurl }}" data-title="Татьяна Боброва - {{ bild.titel }}">
                            <div class="facebook" title="Поделиться ссылкой на Фейсбуке">Facebook</div>
                            <div class="twitter" title="Поделиться ссылкой в Твиттере">Twitter</div>
                            <div class="mailru" title="Поделиться ссылкой в Моём мире">Мой мир</div>
                            <div class="vkontakte" title="Поделиться ссылкой во Вконтакте">Вконтакте</div>
                            <div class="odnoklassniki" title="Поделиться ссылкой в Одноклассниках">Одноклассники</div>
                            <div class="plusone" title="Поделиться ссылкой в Гугл-плюсе">Google+</div>
                            <div class="pinterest" title="Поделиться картинкой на Пинтересте" data-media="">Pinterest</div>
                        </div>
                     </li>
                     <li>&nbsp</li>
                     <li>
                         <div class="fb-like" data-href="{{ aurl }}" data-layout="button_count" data-action="like" data-show-faces="true"></div>
                     </li>
                     <li>&nbsp</li>
                     <li>
                         <div id="vk_like"></div><script type="text/javascript">VK.Widgets.Like("vk_like", {type: "button", pageTitle: "Татьяна Боброва - {{ bild.titel }}", pageDescription: "{{ bild.kommentar }}", pageImage: "{{ media_url|default:"/static/media/" }}{{ bild.dateiname_klein|strip }}"});</script>
                     </li>
                     <li>&nbsp;</li>
                     <li>
                         <a target="_blank" class="mrc__plugin_uber_like_button" href="http://connect.mail.ru/share" data-mrc-config="{'cm' : '1', 'sz' : '20', 'st' : '2', 'tp' : 'mm'}">Нравится</a>
                         <script src="http://cdn.connect.mail.ru/js/loader.js" type="text/javascript" charset="UTF-8"></script>
                     </li>
                     <li>&nbsp</li><li>&nbsp</li>
	       	     {% if bild.price %}
                        <li>
                             <p class="text-center"><strong><a href="mailto:author@pushinda.ru?subject=Покупка на сайте - {{ bild.seite.titel }} - {{ bild.titel }} ({{ bild.price }} руб.)">Купить</a></strong> за <strong>{{ bild.price }}</strong> руб.</p>
                        </li>
                        <li>&nbsp</li><li>&nbsp</li>
	             {% endif %}
                     <li>
                         <p class="text-center"><strong><a href="mailto:author@pushinda.ru?subject=Заказ постера на сайте - {{ bild.seite.titel }} - {{ bild.titel }}">Заказать постер</a></strong></p>
                     </li>
            </div>
      </div>


{% endblock %}
