{% extends "base.html" %}
{% load gns_galery_extras %}

{% block title %}Галерея - {{ bild.seite.titel }} - {{ bild.titel }}{% endblock %}

{% block pagename %}
    <a href="../../">Галерея</a> - <a href="../../{{ bild.seite.seite_url|strip }}/{{ view.pg_num }}">{{ bild.seite.titel }}</a>
{% endblock %}

{% block galery_ref %}
    <strong>[<a href="../../">Галерея</a> - <a href="../../{{ bild.seite.seite_url|strip }}/{{ view.pg_num }}">{{ bild.seite.titel }}</a> - <em><a href="./">{{ bild.titel }}</a></em>]</strong>
{% endblock %}

{% block content %}
<div class="container">
      <div class="row-fluid">
                         <div class="span12">
                             <p class="text-center">
                             <img align=top src="{{ media_url|default:"/static/media/" }}{{ bild.dateiname_gross|strip }}"></a></p>
                         </div>
      </div>
      <div class="row-fluid">
                         <div class="span12">
                             <h4><p class="text-center">{{ bild.titel }}</p></h4>
                         </div>
      </div>
      <div class="row-fluid">
                         <div class="span12">
                             <p class="text-center"><small>{{ bild.kommentar }}</small></p>
                         </div>
      </div>
{% endblock %}
