{% extends "base.html" %}

{% block title %}Галерея - Разделы{% endblock %}

{% load gns_galery_extras %}

{% block galery_ref %}<strong><a href="./">[Галерея - <em>Разделы</em>]</a></strong>{% endblock %}

{% block content %}
    <div class="container">
               {% for seite_arr in view.seite_liste %}
                  <div class="row-fluid">
                     {% for seite in seite_arr %}
                         <div class="span4">
                             <p class="text-center"><a href="{{ seite.seite_url }}">
                             <img align=top class="img-polaroid" src="{{ media_url|default:"/static/media/" }}{{ seite.dateiname_img|strip }}"></a></p>
                         </div>
                     {% endfor %}
                  </div>
                  <div class="row-fluid">
                     {% for seite in seite_arr %}
                         <div class="span4">
                             <p class="text-center"><a href="{{ seite.seite_url }}">{{seite.titel}}</p></a></p>
                         </div>
                     {% endfor %}
                  </div>
               {% endfor %}



    </div>

{% endblock %}
