{% extends "base.html" %}
{% load gns_galery_extras %}

{% block title %}Раздел {{ seite.titel }}{% endblock %}

{% block content %}
<div class="container">
      <div class="row-fluid">
        <div class="span12">
            <a href="/">[Перейти на главную страницу]</a></p>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
            <h2><a href="../">Галерея</a> - {{ seite.titel }} - Страница {{ pg_num }}</h2>
        </div>
      </div>
      <div class="row-fluid">
               {% for bilds_arr in bilds %}
                  <div class="row-fluid">
                     {% for bild in bilds_arr %}
                         <div class="span{{ n_span }}">
                             <p class="text-center"><a href="/galerie/image/{{ bild.pk }}">
                             <img align=top src="/static/media/{{ bild.dateiname_klein|strip }}"></a></p>
                         </div>
                     {% endfor %}
                  </div>
                  <div class="row-fluid">
                     {% for bild in bilds_arr %}
                         <div class="span{{ n_span }}">
                             <p class="text-center"><a href="/galerie/image/{{ bild.pk }}">{{bild.titel}}</p></a></p>
                         </div>
                     {% endfor %}
                  </div>
               {% endfor %}



    </div>
{% endblock %}
