{% extends "base.html" %}
{% load gns_galery_extras %}

{% block title %}Галерея - {{ seite.titel }}{% endblock %}

{% block pagename %}<a href="../">Галерея</a> - <a href="../{{ seite.seite_url }}">{{ seite.titel }}</a>{% endblock %}

{% block galery_ref %}<strong>[<a href="../">Галерея</a> - <em><a href="../{{ seite.seite_url }}">{{ seite.titel }}</a></em>]</strong>{% endblock %}

{% block content %}
<div class="container">
    {% if seite.text %}
      <div class="row-fluid">
        <div class="span12">
            <p class="text-left" class="text-info">{{ seite.text }}</p>
        </div>
      </div>
    {% endif %}
      <div class="row-fluid">
              <div class="span5">
            <p class="text-right">
                {% if  view.pg_num_prev %}
                    <a href="{{ view.no_pg_num_str }}{{ view.pg_num_prev }}">[<-Предыдущая страница]</a>
                {% endif %} 
            </p>
        </div>
        <div class="span2">
            <p class="text-center"><strong>[Страница {{ view.pg_num }}]</strong></p>
        </div>
        <div class="span5">
            <p class="text-left">
                {% if  view.pg_num_next %}
                    <a href="{{ view.no_pg_num_str }}{{ view.pg_num_next }}">[Следующая страница->]</a>
                {% endif %}
            </p>
        </div>
      </div>
      <hr>
      <div class="row-fluid">
               {% for bilds_arr in view.bilds %}
                  <div class="row-fluid">
                     {% for bild in bilds_arr %}
                         <div class="span{{ view.n_span }}">
                             <p class="text-center"><a href="{{ view.no_pg_num_str }}../image/{{ view.pg_num }}/{{ bild.pk }}">
                             <img align=top src="{{ media_url|default:"/static/media/" }}{{ bild.dateiname_klein|strip }}"></a></p>
                         </div>
                     {% endfor %}
                  </div>
                  <div class="row-fluid">
                     {% for bild in bilds_arr %}
                         <div class="span{{ view.n_span }}">
                             <p class="text-center"><a href="{{ view.no_pg_num_str }}../image/{{ view.pg_num }}/{{ bild.pk }}">{{bild.titel}}</p></a></p>
                         </div>
                     {% endfor %}
                  </div>
               {% endfor %}



    </div>
{% endblock %}
